<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet Project</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Pet Project</a>: an online community for pet owners everywhere
      </h1>
      <nav>
          {{#if loggedIn}}
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
      </nav>
    </header>
    <main>
      <h1>Welcome to Pet Project!</h1>
      <p>We'd love to get your advice on the best way to take care of our pets.</p>
       <p><a href="/login">Login</a> and connect with the community.</p> 
       <p>Don't have an account?<a href="/signup"> Sign up </a>and get started!</p>

<form class="signup-form">
  <div>
        <label for="name-signup">name:</label>
        <input type="text" id="name-signup" />
    </div>
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">sign up!</button>
    </div>
</form>

       
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>