<article>
    <a href="/dashboard">&larr; Back to dashboard</a>
    <h2>Create Post</h2>
    <form class="create-post-form">
        <div>
            <label for="post-title">Pet breed or species:</label>
            <input name="post-title" type="text"/>
        </div>
        <div>
            <label for="post-description">Description:</label>
            <textarea name="post-description" type="text"></textarea>
        </div>
        <button type="submit">Next</button>
    </form>
</article>
<script src="/javascript/add-post.js"></script>