   <div class="create-container">
      <a id="create-link" href="/create">Create <i class="fas fa-cat"></i>
        </a> 
   </div>
 <div class="container">
    {{#if posts.length}}
    <section>
      <ol>
         <h2>Your Posts:</h2>     
        {{#each posts as |post|}}
        <li>
          {{> post-info post}}
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
      </ol>
   </section>
   {{else}}
   <div class="if-no-posts">
    You haven't created any posts yet!
   </div>

  {{/if}}
</div>  







